<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="let api requests through" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{REQUEST_FILENAME}" pattern="api(.*)$" />
						</conditions>
						<action type="Rewrite" url="{REQUEST_URI}" appendQueryString="true" />
					</rule>
					<rule name="wwwroot-static" stopProcessing="true">
						<match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
						<action type="Rewrite" url="wwwroot/{R:1}" />
					</rule>
					<rule name="redirect to ui" stopProcessing="false">
						<match url="(.*)" />
						<action type="Rewrite" url="index.html" appendQueryString="true" />
					</rule>
				</rules>
			</rewrite>
			<handlers>
				<add name="js" path="wwwroot/js/*"  verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
				<add name="dist" path="wwwroot/*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\MyFirstAzureWebApp.dll .\MyFirstAzureWebApp2.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 0c2144c0-9b09-4baa-8893-7165a4dab696-->